<?xml version="1.0"?>
<launch>
    <node pkg="waypoint_loader" type="waypoint_loader.py" name="waypoint_loader">
        <param name="path" value="$(find styx)../../../data/wp_yaw_const.csv" />
        <!-- <param name="path" value="$(find styx)../../../data/churchlot_with_cars.csv" /> -->
        <!-- DWB Aug 5, added commented out line above in case wanting to switch to test track 2 -->
        <param name="velocity" value="10" />  <!-- DWB Aug-11 change to 100 for testing purposes -->
    </node>
</launch>
